---
// src/components/ejercicio6/InteractiveWaterFlow.astro
import InteractiveCanvas from "./InteractiveCanvas.jsx";
import "./InteractiveWaterFlow.css";
---

<div class="waterflow-container">
  <InteractiveCanvas client:load />
</div>