---
import { getCollection, type CollectionEntry } from "astro:content";
import BookLayout from "../../../layouts/BookLayout.astro";

const allExercises = await getCollection("exercises");

export async function getStaticPaths() {
  const allExercises = await getCollection("exercises");

  return allExercises.map(
    (exercise: { data: { bookSlug: any }; slug: string }) => ({
      params: {
        slug: exercise.data.bookSlug,
        // Usamos .split('/').pop() para obtener solo la última parte del slug
        exercise: exercise.slug.split("/").pop(),
      },
      props: {
        exercise,
      },
    }),
  );
}

type Props = {
  exercise: CollectionEntry<"exercises">;
};

const { exercise } = Astro.props as Props;

//filtra todos los ejercicios del mismo libro
const bookExercises = allExercises.filter(
  (ex: { data: { bookSlug: any } }) =>
    ex.data.bookSlug === exercise.data.bookSlug,
);

const { Content } = await exercise.render();
//current book
const currentBookSlug = exercise.data.bookSlug;
---

<BookLayout exercises={bookExercises} currentBookSlug={currentBookSlug}>
  <div slot="introduction">
    <!-- <h1>{exercise.data.title}</h1> -->
    <Content />
  </div>
</BookLayout>
