@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Questrial&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Clases para el modo dark/light: */

:root {
  /* Esta solo para el nav y el footer */
  --navfooter: #f2f2f2;

  /* este es un nuevo color para el footer */
  --footernew: #4c4f54;

  /* //Lo contrario por si se ocupa */
  --navfooternt: #e6e7eb;

  /* Para las rayas del sitio */
  --rayas: #e0e0e0;

  /* Para boton positivo u oscuro */
  --botonOscuro: #131314;

  /* Para las cards */
  --cards: #fff;

  /* Esta va para los titulos grandes */
  --titles: #030906;

  /* Color de fondo del sidebar */
  --titlesnt: #F0F2F6;

  /* color para el texto del sidebar */
  --sidebarText: #565c6d;

  --color-background: #ffffff;
  --color-primary: #000;

  /* color para el hover de los elementos del sidebar */
  --hoverSidebar: #f0f6fe;

  /* color para el hover de los elementos del sidebar */
  --textoHover: #2b398a;
  --titlesMd: #e85451;
  --rayaTubo: #5D726F;
  --textoCardCanvas: #565c6d;

  /* COLORES AGREGADOS PARA LA ESTETICA DE LAS CAJAS DE LOS EJERCICIOS, ASI COMO SUS ELEMENTOS, ESTE APARTADO ES SOLO PARA LOS MARKDOWNS DE LOS EJERCICIOS */

  --cardEjercicio: #ffffffb3;

  /* Color oscuro de los bordes (se quedara el mismo de momento)*/
  --borderEjercicio: #e2e8f0;

  /* Color claro de la shadow del ejercicio */
  --shadowEjercicio: #02061714;

  /* Color del agua */
  --water: #a4d8f2;

  /* Estilos para los titulos y subtitulos de los ejercicios */
  --book-title-1: #3769c5;
  --subtitle-bg: #eaf6ff;
  --subtitle-text: #333;

  /* Color claro para el blur del ejercicio */
  /* --blurMario: #ffffff8c; */
}

body.dark-mode {
  /* Esta solo para el nav y el footer */
  --navfooter: #131314;

  /* este es un nuevo color para el footer */
  --footernew: #f2f2f2;

  /* Para las rayas del sitio */
  --rayas: #3d4044;

  /* Para boton positivo u oscuro */
  --botonOscuro: #131314;

  /* //Lo contrario por si se ocupa */
  --navfooternt: #1a1b1f;

  /* Para las cards */
  --cards: #131314;

  /* Esta va para los titulos grandes */
  --titles: #f2f2f2;

  --color-background: #1a1b1f;
  --color-primary: #ffffff;

  /* Color de fondo del sidebar */
  --titlesnt: #131314;

  /* color para el texto del sidebar */
  --sidebarText: #fff;

  /* color para el hover de los elementos del sidebar */
  --hoverSidebar: #1b1b1e;

  /* color para el hover de los elementos del sidebar */
  --textoHover: #fff;


  --titlesMd: #e85451;
  --textoCardCanvas: #9fb4d6;
  --rayaTubo: #CED0C3;

  /* COLORES AGREGADOS PARA LA ESTETICA DE LAS CAJAS DE LOS EJERCICIOS, ASI COMO SUS ELEMENTOS, ESTE APARTADO ES SOLO PARA LOS MARKDOWNS DE LOS EJERCICIOS */
  --cardEjercicio: #131314;

  /* Color oscuro de los bordes (ligeramente más claros que el fondo) */
  --borderEjercicio: #1e293b;
  /* similar a slate-800 */

  /* Color oscuro de la shadow del mario (sutil brillo blanco) */
  --shadowEjercicio: #ffffff1a;

  /* Color del agua */
  --water: #a4d8f2;

  --book-title-1: #78b2fa;
  --subtitle-bg: #263a59;
  --subtitle-text: #fff;

  /* /* Color oscuro para el blur del mario */
  /* --blurMario: #0f172a8c; */
}

h1,
h2,
small,
p {
  color: var(--titles);
}

/* Aplica las variables a los elementos */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-logo {
  display: none;
}

body.dark-mode .dark-mode-logo {
  display: block;
}

body.dark-mode .light-mode-logo {
  display: none;
}

/* Estos estilos son para el ejercicio 1 propiamente */

.book-section {
  font-family: "Lato", sans-serif;
}

.book-title {
  font-weight: 600;
  font-family: "Lato", sans-serif;
  /* margin: ;  */
}

.etiqueta-guia {
  display: inline-block;
  /* border: 1px solid #eaf6ff; */

  padding: 6px 12px;
  border-radius: 4px;

  font-size: 24px;
  font-weight: 700;

  /* margin-top: 0; */
  margin-bottom: .60rem;
}

.divisor {
  border: none;
  height: 2px;
  background-color: #3399ff;
  margin: 0;
}

.linea-delgada {
  border: none;
  height: 1px;
  margin-bottom: 3rem;
}

.pie-foto {
  display: inline-block; 

  background-color: #eaf6ff; 
  border: 1px solid #eaf6ff;
  color: #333; 
  padding: 10px;
}
