@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Questrial&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Clases para el modo dark/light: */

:root {
  /* Esta solo para el nav y el footer */
  --navfooter: #f2f2f2;

  /* este es un nuevo color para el footer */
  --footernew: #4c4f54;

  /* //Lo contrario por si se ocupa */
  --navfooternt: #e6e7eb;

  /* Para las rayas del sitio */
  --rayas: #e8e8ec;

  /* Para boton positivo u oscuro */
  --botonOscuro: #131314;

  /* Para las cards */
  --cards: #fff;

  /* Esta va para los titulos grandes */
  --titles: #030906;

  /* Color de fondo del sidebar */
  --pepe: #F0F2F6;

  /* color para el texto del sidebar */
  --sidebarText: #565c6d;

  --color-background: #fdfdfd;
  --color-primary: #000;

  /* color para el hover de los elementos del sidebar */
  --hoverSidebar: #f0f6fe;

  /* color para el hover de los elementos del sidebar */
  --textoHover: #2b398a;
}

body.dark-mode {
  /* Esta solo para el nav y el footer */
  --navfooter: #131314;

  /* este es un nuevo color para el footer */
  --footernew: #f2f2f2;

  /* Para las rayas del sitio */
  --rayas: #16191c;

  /* Para boton positivo u oscuro */
  --botonOscuro: #131314;

  /* //Lo contrario por si se ocupa */
  --navfooternt: #1a1b1f;

  /* Para las cards */
  --cards: #131314;

  /* Esta va para los titulos grandes */
  --titles: #f2f2f2;

  --color-background: #1a1b1f;
  --color-primary: #ffffff;

  /* Color de fondo del sidebar */
  --pepe: #131314;

  /* color para el texto del sidebar */
  --sidebarText: #fff;

  /* color para el hover de los elementos del sidebar */
  --hoverSidebar: #1b1b1e;

  /* color para el hover de los elementos del sidebar */
  --textoHover: #fff;
}

h1,
h2,
p {
  color: var(--titles);
}

/* Aplica las variables a los elementos */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-logo {
  display: none;
}

body.dark-mode .dark-mode-logo {
  display: block;
}

body.dark-mode .light-mode-logo {
  display: none;
}

main {
  transition: margin-left 0.3s ease;
}

aside {
  width: 320px; 
  transition: width 0.3s ease;
}

aside.collapsed {
  width: 50px; 
}

