<div class="flex w-full h-auto note mb-2 p-2 shadow-lg shadow-[var(--shadowEjercicio)] backdrop-blur-md">
  <p class="mt-0 mb-0">
    <strong>Note:</strong> The water level is equal to the hydraulic head at the
    point of measurement (the screen interval), which is indicated by the potentiometric
    contour line. The orientation of the piezometer is of no consequence.
  </p>
</div>
<div class="interactive-scheme flex flex-row gap-4 w-full h-auto">
  <div class="scheme shadow-lg shadow-[var(--shadowEjercicio)] backdrop-blur-md">
    <div class="headSimulationArea flex flex-col w-full p-6 gap-2">
      <h2 class="tittle" class="text">Simulation area</h2>
    </div>
    <div class="schemeArea w-full p-6">
      <div class="schemeContent w-full aspect-square overflow-hidden">
        <canvas id="canvas" style="width:100%; aspect-ratio: 1/1;"></canvas>
        <script src="./js/draw.js"></script>
      </div>
      <div
        class="indicators w-full p-2 flex flex-row items-center justify-around"
      >
        <div class="flex flex-row gap-2 items-center">
          <div class="circle w-5 h-5 bg-yellow-950 rounded-full"></div>
          <p class="mt-0 mb-0">Superficie del terreno</p>
        </div>

        <div class="flex flex-row gap-2 items-center">
          <div class="circle w-5 h-5 bg-blue-400 rounded-full"></div>
          <p class="mt-0 mb-0">Nivel freatico</p>
        </div>
      </div>
    </div>
  </div>
  <div class="controls h-auto shadow-lg shadow-[var(--shadowEjercicio)] backdrop-blur-md">
    <div class="headControls flex flex-row w-full p-6 gap-2">
      <h2 class="tittle" class="text">Scheme controls</h2>

      <div class="ContButtonMode flex flex-row gap-1 items-center">
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" id="switchInput" class="sr-only peer" />
          <div
            class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-400"
          >
          </div>
          <span class="ms-3 text-sm font-medium">Manual data</span>
        </label>
      </div>
    </div>
    <div class="flex flex-col flex-1 w-full p-6 gap-2">
      <form class="flex flex-col w-full p-0 h-auto">
        <label class="h-auto w-1/1 hidden"
          >Well heigth (m):
          <div class="inputCont flex flex-row w-full gap-4">
            <input
              id="heigthWell"
              type="range"
              min="0"
              max="80"
              value="25"
              class="inputRange dinamicInput w-3/4 h-auto cursor-pointer"
            />

            <input
              id="heigthWell"
              type="number"
              min="0"
              max="80"
              class="manualInput manualInputs w-1/1 mt-1 h-6 cursor-pointer p-2 hidden"
            />
            <p class="mt-0 mb-0 dinamicInput dinamicText">25 m</p>
          </div>
        </label>

        <label class="h-auto w-1/1 hidden"
          >Well width (m):
          <div class="inputCont flex flex-row w-full gap-4">
            <input
              id="widthWell"
              type="range"
              min="2"
              max="20"
              value="10"
              class="inputRange dinamicInput w-3/4 h-auto cursor-pointer"
            />

            <input
              id="widthWell"
              type="number"
              min="2"
              max="20"
              class="manualInput manualInputs w-1/1 mt-1 h-6 cursor-pointer p-2 hidden"
            />
            <p class="mt-0 mb-0 dinamicInput dinamicText">10 m</p>
          </div>
        </label>

        <label class="h-auto w-1/1"
          >x coordinate of the base of the well (0 - 120):
          <div class="inputCont flex flex-row w-full gap-4">
            <input
              id="xPosWell"
              type="range"
              min="0"
              max="120"
              value="45"
              class="inputRange dinamicInput w-3/4 h-auto cursor-pointer"
            />

            <input
              id="xPosWell"
              type="number"
              class="manualInput manualInputs w-1/1 mt-1 h-6 cursor-pointer p-2 hidden"
              min="0"
              max="120"
            />
            <p class="mt-0 mb-0 dinamicInput dinamicText">45</p>
          </div>
        </label>

        <label class="h-auto w-1/1"
          >y coordinate of the base of the well (10 - 80):
          <div class="inputCont flex flex-row w-full gap-4">
            <input
              id="yPosWell"
              type="range"
              min="10"
              max="80"
              value="30"
              class="inputRange dinamicInput w-3/4 h-auto cursor-pointer"
            />

            <input
              type="number"
              min="10"
              max="80"
              class="manualInput manualInputs w-1/1 mt-1 h-6 cursor-pointer p-2 hidden"
            />
            <p class="mt-0 mb-0 dinamicInput dinamicText">30</p>
          </div>
        </label>

        <label class="h-auto w-1/1 mb-4"
          >degrees of inclination (0° - 15°):
          <div class="inputCont flex flex-row w-full gap-4">
            <input
              id="xExitWell"
              type="range"
              min="0"
              max="15"
              value="0"
              class="inputRange dinamicInput w-3/4 h-auto cursor-pointer"
            />

            <input
              id="xExitWell"
              type="number"
              min="0"
              max="15"
              class="manualInput manualInputs w-1/1 mt-1 h-6 cursor-pointer p-2 hidden"
            />
            <p class="mt-0 mb-0 dinamicInput dinamicText">0</p>
          </div>
        </label>
      </form>
    </div>
    <div class="flex flex-col p-6 h-2/5">
      <p class="w-0 h-0 mt-auto"></p>
      <button
        id="confirmButton"
        type="button"
        class="manualInput text-white bg-blue-400 hover:bg-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-400 dark:hover:bg-blue-300 dark:focus:ring-blue-300 dark:border-blue-300 cursor-pointer hidden"
        >Confirm values</button
      >
      <button
        type="button"
        id="reset-btn"
        class="text-white bg-gray-800 hover:bg-gray-900 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 cursor-pointer"
        >Reset values</button
      >
    </div>
  </div>
</div>

<script src="./js/InteractiveScheme.js"></script>
