.note{
    background-color: var(--rayas);
    border: 1px solid var(--titles);
    border-radius: 12px;
}

.scheme {
    background-color: var(--cardEjercicio);
    width: 55%;
    border: 1px solid var(--borderEjercicio);
    border-radius: 12px;
  }
  .controls {
    background-color: var(--cardEjercicio);
    width: 45%;
    border: 1px solid var(--borderEjercicio);
    border-radius: 12px;
  }
  .headSimulationArea {
    border-bottom: 1px solid var(--borderEjercicio);
    justify-content: space-between;
  }

  .schemeContent {
    border: 1px solid var(--borderEjercicio);
    background-color: white;
    border-radius: 8px;
    width: 390px;
  }

  .headControls {
    border-bottom: 1px solid var(--borderEjercicio);
    justify-content: space-between;
  }

  .text {
    margin: 0;
  }

  .tittle {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }

  .manualInputs {
    background-color: var(--cardEjercicio);

    border: 1px solid var(--titles);
    border-radius: 8px;
  }

  .inputRange{
    accent-color: var(--titles);
  }