---
import Layout404 from "../layouts/Layout404.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout404>
  <div class="w-full h-180 flex items-center justify-center">
    <div
      class="flex flex-col md:flex-row items-center justify-center text-gray-700 gap-10 px-5"
    >
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="100%"
        viewBox="0 0 832 720"
        enable-background="new 0 0 832 720"
        xml:space="preserve"
      >
        <path
          fill="var(--titles)"
          opacity="1.000000"
          stroke="none"
          d="
M225.468628,721.000000 
	C212.259323,704.116882 200.739441,686.390869 188.930542,668.862122 
	C161.097153,627.547058 134.449356,585.459534 107.234680,543.741333 
	C79.656609,501.466125 51.847424,459.341675 24.153570,417.141937 
	C20.957409,412.271606 17.655918,407.454742 15.723931,401.876587 
	C12.086987,391.375732 14.578826,382.984711 23.376213,376.254608 
	C29.415619,371.634430 36.166885,368.529999 43.527946,366.663696 
	C48.661961,365.362030 53.761391,363.923950 58.682724,362.598938 
	C58.798580,361.755585 58.981144,361.371552 58.865749,361.129791 
	C54.961391,352.949371 54.923759,352.501953 61.588917,345.778534 
	C74.265717,332.990997 89.508041,323.647919 104.838264,314.572052 
	C136.318130,295.935333 170.401627,284.687469 206.594391,279.529205 
	C220.737564,277.513519 234.729538,274.623413 249.131973,274.545197 
	C258.735962,274.493073 267.912292,276.913788 277.300598,278.058807 
	C285.712982,279.084778 294.164062,279.792999 302.597717,280.645111 
	C305.685486,280.957092 306.858185,279.418152 306.649353,276.501831 
	C306.230377,270.649323 307.259857,264.879578 307.732971,259.083710 
	C308.294464,252.205399 310.013824,245.684906 314.181335,239.950516 
	C316.821594,236.317581 319.319611,232.599411 318.740814,227.631622 
	C318.397308,224.683304 319.715393,222.288406 322.946350,221.846466 
	C326.201355,221.401230 327.767792,223.412460 328.534882,226.325790 
	C330.528931,233.899216 334.529175,240.619904 337.495697,248.277100 
	C341.393280,245.870987 343.395294,242.315613 345.883453,239.332977 
	C362.228424,219.740021 382.514008,205.551071 405.721344,195.333801 
	C412.860962,192.190536 412.900391,192.277832 410.594330,184.856644 
	C408.519867,178.180954 406.544250,171.472244 404.332245,164.842422 
	C402.844635,160.383926 403.768890,157.270050 408.050476,154.854660 
	C460.303101,125.376755 512.668091,96.114029 569.936401,77.127876 
	C590.923462,70.170036 611.999451,63.365891 634.031067,60.337963 
	C643.646973,59.016392 651.670654,62.144882 656.837646,70.396019 
	C666.119324,85.217789 674.971619,100.309555 683.934509,115.329575 
	C723.117981,180.993057 762.303040,246.655594 801.422180,312.357361 
	C809.347534,325.668304 817.008606,339.136963 824.755188,352.553894 
	C828.644958,359.290894 827.162781,362.158051 819.419434,363.323242 
	C791.017883,367.596893 763.447571,375.040466 736.578247,385.139679 
	C735.193359,385.660217 733.695374,385.964417 732.638428,387.221985 
	C732.187073,389.289917 733.693481,390.616730 734.626709,392.108948 
	C749.224243,415.450165 766.850647,436.646545 782.302612,459.384583 
	C787.452332,466.962524 792.977234,474.303680 797.798035,482.083099 
	C807.901001,498.386475 803.611755,512.546997 785.781616,519.351807 
	C760.750427,528.904846 734.983154,536.360535 709.487244,544.583618 
	C652.625366,562.922974 595.925293,581.740356 539.500427,601.397888 
	C520.042786,608.176575 520.176575,605.611267 511.886841,590.406250 
	C510.786865,588.388672 510.056122,586.169800 509.161774,584.061646 
	C503.742981,585.574890 498.665833,592.730713 499.323822,597.841431 
	C499.919647,602.469238 500.115540,607.054993 499.781799,611.760071 
	C499.461334,616.278503 497.475189,618.483337 493.447021,620.120972 
	C459.204559,634.042847 425.037018,648.148804 390.829681,662.157349 
	C343.686737,681.463318 296.528687,700.732239 249.379898,720.023926 
	C249.074951,720.148682 248.809219,720.369324 248.262604,720.772583 
	C240.645752,721.000000 233.291504,721.000000 225.468628,721.000000 
M187.287628,537.244507 
	C209.887146,571.626587 232.476593,606.015320 255.095413,640.384644 
	C259.172028,646.579041 259.211060,646.512329 265.886597,642.773193 
	C289.590332,629.496338 313.634735,616.869934 339.118622,607.323303 
	C374.922455,593.910522 411.624176,583.839905 449.906250,581.064758 
	C462.690979,580.138000 475.851593,577.779358 488.391479,583.365601 
	C489.404083,583.816711 490.681091,583.751648 491.838898,583.780823 
	C493.492004,583.822693 494.664185,582.916504 495.502563,581.563293 
	C496.522675,579.916687 495.475189,578.809631 494.525513,577.585938 
	C492.588776,575.090576 490.634613,572.593689 488.904510,569.955200 
	C438.580688,493.207855 388.184998,416.507263 338.067139,339.625549 
	C328.268890,324.594818 316.911621,310.474487 309.820465,293.772797 
	C308.792664,291.351990 306.940796,291.521545 304.938049,291.274017 
	C294.717987,290.010956 284.444366,289.275513 274.257202,287.631927 
	C262.967621,285.810394 251.698212,283.344147 240.089874,285.169678 
	C230.406662,286.692505 220.676025,287.923615 210.953583,289.185211 
	C175.032150,293.846497 141.201859,304.782501 110.028748,323.340820 
	C96.157341,331.598907 82.487907,340.237946 70.470039,351.196808 
	C67.919456,353.522614 67.611504,355.368744 69.605270,358.390961 
	C108.771927,417.761780 147.831085,477.203461 187.287628,537.244507 
M699.738770,161.684372 
	C683.089783,133.797180 666.467468,105.894066 649.773071,78.034103 
	C645.610840,71.087936 640.352966,68.998642 631.826843,70.729248 
	C611.254639,74.904945 591.164917,80.855072 571.277466,87.497192 
	C532.913757,100.310089 496.708038,117.908539 461.315582,137.294113 
	C447.148315,145.053970 432.979828,152.811630 418.797974,160.544785 
	C416.246185,161.936218 414.539398,163.487183 415.624939,166.851089 
	C418.995850,177.296997 422.197754,187.797531 425.453857,198.280411 
	C426.164764,200.569138 427.401428,201.743881 430.074066,201.913864 
	C438.638092,202.458511 441.572784,204.765701 444.036194,212.874115 
	C445.922455,219.082764 447.618286,225.334610 450.101868,231.355820 
	C451.203339,234.026276 452.382751,235.119125 455.302399,233.737244 
	C464.354706,229.452744 467.929199,235.751328 469.248596,242.341034 
	C469.869537,245.442307 469.515350,248.596710 468.776428,251.740204 
	C467.994507,255.066589 466.484039,258.294861 466.754425,261.997253 
	C470.635193,263.276794 474.475403,262.816956 478.238739,262.772949 
	C489.067932,262.646515 499.879028,262.646851 510.684021,263.650604 
	C519.127014,264.434967 520.888062,266.441711 519.226990,274.820587 
	C518.254150,279.727722 516.254395,284.330750 514.493835,289.005127 
	C513.677734,291.171967 511.023682,293.681641 513.245667,295.789642 
	C515.436951,297.868439 518.217102,295.507629 520.714966,294.927734 
	C521.031128,294.854370 521.313293,294.639557 521.614990,294.498291 
	C526.985291,291.983734 528.607727,292.398987 531.893860,297.408112 
	C535.191772,302.435272 537.833069,307.816162 540.188599,313.342194 
	C546.202148,327.449890 549.472656,342.512756 555.284485,356.688385 
	C559.326843,366.548065 565.146667,374.898041 575.478210,379.007751 
	C580.217102,380.892792 580.830750,384.252716 580.054321,388.669189 
	C578.109558,399.731171 576.320496,410.820526 574.443359,422.052246 
	C575.460083,422.114594 576.003357,422.312408 576.390259,422.146240 
	C580.212097,420.504578 583.986938,418.753082 587.815979,417.129059 
	C593.870422,414.561218 597.029602,417.018188 596.504089,423.600861 
	C596.114868,428.476654 594.501282,433.247803 594.895508,438.123627 
	C597.221191,439.052734 599.086670,438.415283 601.040710,437.926697 
	C609.825317,435.730103 616.748474,430.032196 624.405334,425.708679 
	C651.836121,410.219574 680.054626,396.469604 709.395935,384.842133 
	C736.371521,374.152100 763.527588,364.318024 791.913635,358.132355 
	C798.837646,356.623505 805.788757,355.238708 813.505432,353.635254 
	C776.440430,288.888702 737.694031,225.943466 699.738770,161.684372 
M501.999847,292.843658 
	C503.818054,288.190979 505.739990,283.575531 507.425934,278.875397 
	C509.175598,273.997406 508.741791,273.518494 503.544067,273.344330 
	C490.396667,272.903656 477.222961,273.770264 464.089569,272.378815 
	C458.747040,271.812805 457.063904,270.411072 456.603455,265.070282 
	C456.211456,260.523407 457.116394,256.162231 458.163544,251.764038 
	C458.748566,249.306931 460.257843,246.825424 459.179779,244.193573 
	C457.715820,243.708054 456.711060,244.444336 455.616364,244.763184 
	C448.140900,246.940582 444.833588,245.364899 441.943359,238.259552 
	C439.183350,231.474365 436.397797,224.682831 434.856049,217.498795 
	C434.054230,213.762711 432.137390,212.044434 428.272278,212.303360 
	C424.572754,212.551208 421.570374,211.153732 418.972260,208.376251 
	C417.351562,206.643661 417.752045,202.825348 414.540222,203.068069 
	C412.161041,203.247910 409.838470,204.639908 407.567261,205.662048 
	C404.987823,206.822922 402.504791,208.196045 399.960724,209.437698 
	C376.471832,220.901657 358.517548,238.753113 342.698303,259.062256 
	C340.074066,262.431274 342.139618,265.825287 343.177460,268.942780 
	C344.089478,271.682434 346.657318,269.961426 348.419434,269.606354 
	C353.488922,268.584900 356.692749,271.033112 359.231720,274.963287 
	C361.446655,278.391907 362.129883,282.371094 363.285919,286.183777 
	C364.957550,291.696838 366.536835,297.257812 369.882599,302.009857 
	C381.220978,297.757324 386.983856,301.629272 387.272186,313.414307 
	C387.316467,315.223022 386.921509,317.040466 386.761475,318.856628 
	C386.461212,322.264221 384.632843,325.465912 385.311035,329.872284 
	C392.664062,329.872284 399.949768,329.953644 407.232819,329.850433 
	C415.237396,329.737030 423.192169,329.998993 431.108704,331.380463 
	C435.610992,332.166168 437.289948,334.885345 437.214508,339.079102 
	C437.119934,344.337708 435.211792,349.127106 433.373383,353.962708 
	C432.285889,356.823242 430.330627,359.489410 430.617340,362.938995 
	C434.940857,364.702484 438.981781,362.927887 442.953857,362.289307 
	C446.884308,361.657379 449.499023,362.736237 451.076538,366.263519 
	C453.861298,372.490204 456.762665,378.676331 459.245880,385.023926 
	C464.701263,398.968781 468.551392,413.512146 474.674774,427.206238 
	C478.502869,435.767212 483.762390,443.165436 493.081604,446.573853 
	C499.147125,448.792267 500.210632,450.400940 499.141174,456.522095 
	C498.398285,460.774200 497.464966,464.992798 496.697998,469.241028 
	C495.535004,475.682831 494.442657,482.137421 493.240204,489.046661 
	C499.726013,488.099121 505.183899,487.105835 508.515350,481.533386 
	C510.188568,478.734711 512.897400,477.673859 515.781799,479.452209 
	C518.420654,481.079224 518.741394,483.739716 517.298706,486.483673 
	C514.182129,492.411194 515.262207,498.965027 513.660278,505.550293 
	C517.061646,505.675781 519.690491,506.045593 522.291199,505.259033 
	C524.816528,504.495270 527.274597,504.166382 529.171814,506.464172 
	C531.254517,508.986481 530.090454,511.472290 528.806091,513.890381 
	C524.897583,521.248962 521.244751,528.725830 518.552490,536.629150 
	C514.389099,548.850708 511.436523,561.264282 512.700073,574.330627 
	C512.320740,567.753967 515.034790,562.418152 519.142456,557.544434 
	C540.807922,531.838318 567.040100,511.891937 596.528748,496.032806 
	C622.446533,482.094147 649.867554,471.883759 677.938354,463.320892 
	C693.693298,458.514923 709.663940,454.673370 726.026367,452.399017 
	C729.997986,451.846954 734.348755,452.723450 738.245056,450.429138 
	C737.258667,445.896515 735.040161,442.168671 732.588318,438.644165 
	C724.027954,426.338654 715.201050,414.216797 706.761414,401.830292 
	C704.513550,398.531128 702.602173,397.977356 699.007629,399.603729 
	C683.979187,406.403442 669.164368,413.633240 654.364807,420.910675 
	C639.984497,427.981995 626.718567,436.986816 612.606812,444.508911 
	C605.835571,448.118256 598.580566,449.698486 590.928040,449.267212 
	C584.800659,448.921875 583.342834,447.217316 583.678101,441.144135 
	C583.881531,437.460510 585.374878,433.872406 584.723633,429.709290 
	C579.996643,431.821503 575.603699,433.779510 571.215210,435.747345 
	C569.033997,436.725494 566.871826,437.603119 564.707336,435.692261 
	C562.725708,433.942810 562.471924,431.724762 562.873596,429.296265 
	C564.932983,416.843201 566.848816,404.363739 569.138733,391.953308 
	C569.687927,388.976562 569.257202,387.401520 566.543518,385.948853 
	C559.769958,382.322998 554.736755,376.811218 550.754089,370.304565 
	C545.570679,361.836121 542.651367,352.442139 539.684265,343.074341 
	C536.065674,331.649780 532.613525,320.168823 527.014709,309.488373 
	C525.514099,306.625763 524.061035,304.462372 520.089172,305.929779 
	C516.790161,307.148590 513.137146,306.695709 509.687714,306.112152 
	C500.550629,304.566467 499.419647,302.693817 501.999847,292.843658 
M263.650024,682.207825 
	C260.840363,683.997925 258.077362,685.867065 255.210526,687.560486 
	C250.412827,690.394409 248.375061,689.994263 245.249985,685.317078 
	C218.781906,645.703064 192.172531,606.181763 165.965591,566.395508 
	C130.225342,512.136169 96.177979,456.777374 59.998966,402.799896 
	C54.634491,394.796356 48.516933,387.061707 50.725082,376.187714 
	C46.046741,376.050262 42.408546,377.837585 38.749054,379.186127 
	C23.260927,384.893372 20.628571,392.924194 29.537365,406.689392 
	C29.718403,406.969116 29.912542,407.240295 30.095764,407.518646 
	C70.403336,468.748199 110.812065,529.910095 150.384201,591.622131 
	C175.025604,630.049988 199.944855,668.307068 226.359680,705.556458 
	C233.313171,715.362061 233.597061,715.398743 244.781219,710.835999 
	C285.487030,694.229248 326.167572,677.560608 366.847900,660.891602 
	C406.296478,644.727295 445.738861,628.547852 485.166718,612.333191 
	C489.503693,610.549622 491.373352,605.965088 489.487335,601.274841 
	C487.978729,597.523193 484.555786,599.357483 482.080902,599.689148 
	C456.494049,603.118347 431.301636,608.419250 406.550812,615.824585 
	C355.934814,630.968750 308.687378,653.344055 263.650024,682.207825 
M505.358612,545.124390 
	C507.804230,535.476624 511.358246,526.209167 515.848755,516.299805 
	C502.376099,515.819702 502.891571,506.830505 504.318817,497.375153 
	C500.457733,498.164917 497.390228,498.798798 494.319763,499.417999 
	C492.566010,499.771637 491.159973,500.649628 490.608337,502.386047 
	C489.598083,505.565857 487.587738,507.394104 484.271027,506.338318 
	C480.394440,505.104340 480.384735,501.800049 480.995789,498.487000 
	C483.134369,486.891693 485.000549,475.233948 487.586975,463.738678 
	C488.832520,458.202911 488.140594,454.562225 482.481140,452.464172 
	C480.837341,451.854797 479.456085,450.426910 478.076202,449.233521 
	C468.331329,440.805664 463.995514,429.205353 459.899323,417.568298 
	C455.313843,404.541290 450.926239,391.454041 445.859039,378.592499 
	C443.998657,373.870392 441.424103,372.385284 436.817780,373.654419 
	C432.945679,374.721252 429.211609,373.590729 425.487549,372.846069 
	C421.313385,372.011444 419.408081,369.510925 419.574646,365.023010 
	C419.824860,358.279755 423.277802,352.656860 425.348846,346.552307 
	C427.121033,341.328552 426.604095,340.442871 420.966125,340.369751 
	C411.638794,340.248810 402.305176,340.469360 392.981995,340.235748 
	C388.346771,340.119568 383.700348,339.494385 379.111115,338.769470 
	C374.591095,338.055450 372.366425,335.473145 373.593689,330.632233 
	C374.532867,326.927826 375.360260,323.193939 376.176758,319.459930 
	C376.729126,316.933624 377.354218,314.372162 375.988098,311.772186 
	C375.018280,312.064392 374.382385,312.222137 373.770447,312.445435 
	C365.581268,315.433929 363.202209,314.386597 359.869110,306.537445 
	C356.872437,299.480530 354.138000,292.335144 352.317780,284.877533 
	C351.476196,281.429413 349.844482,279.772583 345.955353,280.545593 
	C340.458862,281.638184 336.669006,278.770447 334.034271,274.256165 
	C332.506470,271.638519 332.223816,268.577301 331.648315,265.644440 
	C330.213989,258.334869 327.824890,251.388794 324.253143,244.624756 
	C319.951111,249.092697 319.636078,249.047928 317.889740,261.335449 
	C315.859253,275.622375 316.933594,289.259521 325.338409,302.022156 
	C383.140259,389.793762 440.677917,477.739288 498.327179,565.611450 
	C499.076904,566.754211 499.442261,568.453796 501.438538,568.545715 
	C502.670990,560.951355 503.185425,553.315491 505.358612,545.124390 
M733.204529,421.336334 
	C735.649109,424.911682 738.188599,428.426361 740.520691,432.073608 
	C747.907410,443.625397 753.007751,456.077484 753.142822,469.927704 
	C753.185852,474.342224 754.316406,477.438629 757.227722,480.477600 
	C760.291870,483.676178 762.830994,487.452850 760.571655,492.125977 
	C758.072754,497.294434 756.082764,503.338440 748.302002,502.396545 
	C747.194458,502.262451 746.013306,502.717743 744.868469,502.913177 
	C722.365356,506.754913 700.317932,512.496216 678.592773,519.400696 
	C644.461304,530.247986 610.609619,541.763245 579.376831,559.857971 
	C563.961914,568.788635 547.967773,576.692993 530.785583,581.872253 
	C527.508545,582.860168 523.985535,583.202209 520.983215,585.001953 
	C523.834351,593.893066 526.530579,595.359985 534.908386,592.479370 
	C553.167603,586.201172 571.331604,579.638000 589.661560,573.575317 
	C652.233582,552.879578 714.859375,532.346741 777.469727,511.766937 
	C780.804016,510.670990 784.074768,509.455505 787.032410,507.536407 
	C792.407410,504.048798 794.140564,499.418365 792.011841,493.331848 
	C791.087830,490.690033 789.802979,488.088043 788.230774,485.774719 
	C782.238586,476.957977 776.071167,468.260162 769.953491,459.528961 
	C755.139832,438.386993 738.893738,418.260223 725.142517,396.366272 
	C721.354126,390.334564 721.171326,390.254120 714.476868,394.845551 
	C719.857483,403.973206 726.628540,412.156067 733.204529,421.336334 
M77.877464,389.580292 
	C73.854172,383.457916 69.830872,377.335541 65.596725,370.892273 
	C59.192242,379.083527 58.948414,382.590088 63.802643,389.949036 
	C71.507790,401.629944 79.476868,413.140015 87.029449,424.917847 
	C140.270416,507.944031 193.525467,590.959167 248.851791,672.624817 
	C251.604736,676.688416 253.531555,676.442383 257.116577,674.152710 
	C266.379456,668.236511 275.748962,662.467346 285.278229,656.991577 
	C323.700714,634.912903 364.095062,617.412170 406.680145,605.023132 
	C425.845551,599.447510 445.297455,595.130188 464.918030,591.390503 
	C462.095032,590.992432 459.274414,590.501831 456.503235,590.700562 
	C420.075500,593.312134 384.929230,601.832153 350.620422,614.043640 
	C319.737610,625.035706 290.907013,640.312500 262.550323,656.560547 
	C257.054565,659.709534 255.303528,659.275757 251.860565,654.064880 
	C238.177216,633.355164 224.508270,612.635803 210.871490,591.895386 
	C166.665710,524.662048 122.476456,457.417877 77.877464,389.580292 
M556.218506,560.627808 
	C579.644165,548.739929 602.226440,535.206970 627.125488,526.242615 
	C658.283447,515.024902 689.591125,504.400391 721.932800,497.103577 
	C730.031250,495.276459 738.222046,493.861298 746.354797,492.181580 
	C748.909363,491.653992 751.709473,490.923798 749.602783,487.342377 
	C744.312134,478.347931 742.675720,477.372101 732.900635,479.395477 
	C691.092529,488.049438 650.228760,499.569763 611.981384,519.154480 
	C585.615967,532.655029 561.108643,548.852783 537.556519,568.618713 
	C544.490662,566.254639 550.059998,563.700439 556.218506,560.627808 
M647.721802,484.362091 
	C592.491577,504.021912 548.551331,537.038025 533.676758,557.998901 
	C537.002625,555.506348 540.381714,553.081238 543.646423,550.511047 
	C593.413940,511.332123 650.085815,487.234100 711.554810,473.621094 
	C720.804321,471.572693 730.072205,469.600342 739.362305,467.746704 
	C741.494141,467.321350 742.846497,466.671173 742.521362,464.273560 
	C742.213867,462.006378 740.743530,461.241394 738.628052,461.354065 
	C737.464783,461.416016 736.290710,461.384491 735.138428,461.529449 
	C705.263977,465.287140 676.601807,473.706787 647.721802,484.362091 
z"
        ></path>
        <path
          fill="var(--titles)"
          opacity="1.000000"
          stroke="none"
          d="
M278.965820,183.111115 
	C265.687531,175.376343 252.122803,169.123688 238.047012,163.960953 
	C236.956558,163.561020 235.897079,163.070602 234.841568,162.582489 
	C231.924454,161.233459 230.968628,158.762802 232.025146,155.984314 
	C233.122986,153.097046 235.588028,152.274521 238.595535,153.281158 
	C247.435745,156.240005 256.013885,159.864166 264.402405,163.887802 
	C271.141388,167.120209 277.685425,170.765778 284.260406,174.330475 
	C287.602753,176.142548 292.040375,178.056976 289.595947,182.812378 
	C286.963257,187.934021 282.848846,185.044449 278.965820,183.111115 
z"
        ></path>
        <path
          fill="var(--titles)"
          opacity="1.000000"
          stroke="none"
          d="
M310.230896,87.929344 
	C314.731903,100.822243 322.874695,111.284073 329.265442,122.709824 
	C330.885132,125.605515 332.535309,128.516373 333.783325,131.578461 
	C334.982513,134.520798 335.101715,137.638519 331.618408,139.274033 
	C328.009094,140.968719 326.019836,138.732788 324.605682,135.765808 
	C319.304382,124.643280 311.788727,114.798340 306.205475,103.845779 
	C304.324554,100.155975 302.634155,96.350777 301.136658,92.489723 
	C299.993134,89.541222 299.804047,86.432892 303.189575,84.682114 
	C306.445862,82.998184 308.495819,84.928429 310.230896,87.929344 
z"
        ></path>
        <path
          fill="var(--titles)"
          opacity="1.000000"
          stroke="none"
          d="
M218.563782,239.456177 
	C226.475677,238.848495 233.926147,238.276459 241.381851,237.783997 
	C247.180450,237.400986 252.985870,237.121460 258.787781,236.787674 
	C262.372986,236.581436 265.437622,237.799179 265.755859,241.581985 
	C266.084290,245.485947 263.053070,247.009995 259.549683,247.227264 
	C243.301010,248.234924 227.049393,249.197189 210.795837,250.123352 
	C207.199463,250.328293 204.286270,248.926605 204.115585,245.044388 
	C203.951691,241.316330 206.874268,240.020874 210.126968,239.756744 
	C212.774963,239.541702 215.444565,239.592941 218.563782,239.456177 
z"
        ></path>
        <path
          fill="var(--titles)"
          opacity="1.000000"
          stroke="none"
          d="
M400.323120,71.075500 
	C399.969299,84.713615 399.659271,97.863251 399.245941,111.009644 
	C399.130310,114.687042 398.440308,118.471573 393.618347,118.182869 
	C389.235687,117.920471 388.666992,114.380493 388.763916,110.825012 
	C389.135712,97.179024 389.525269,83.533386 389.973450,69.889755 
	C390.038757,67.901596 390.346008,65.902390 390.741272,63.948757 
	C391.257904,61.395481 392.786804,59.642262 395.547791,59.803902 
	C398.398071,59.970776 400.156677,61.597439 400.280792,64.589516 
	C400.363586,66.585487 400.316681,68.586845 400.323120,71.075500 
z"
        ></path>
        <path
          fill="var(--titles)"
          opacity="1.000000"
          stroke="none"
          d="
M594.993408,269.991028 
	C619.366821,243.433960 656.500916,236.975037 688.233948,253.524857 
	C691.215881,255.080078 693.276794,257.125885 691.770264,260.637299 
	C690.225586,264.237549 687.166687,264.053253 684.160278,262.762970 
	C675.903320,259.219208 667.617249,256.048492 658.523254,255.072662 
	C636.670776,252.727814 618.850220,260.717804 603.652710,275.749786 
	C595.853760,283.463745 590.242432,292.657013 586.086487,302.760834 
	C584.721802,306.078430 582.819763,309.213745 578.796997,307.636780 
	C574.463623,305.938110 575.461060,302.310364 576.779541,298.743652 
	C580.765503,287.960876 587.111450,278.708099 594.993408,269.991028 
z"
        ></path>
        <path
          fill="var(--titles)"
          opacity="1.000000"
          stroke="none"
          d="
M645.499634,175.620636 
	C646.228760,173.704803 646.771729,172.132874 647.384216,170.588501 
	C648.500122,167.774551 650.487427,166.024841 653.564148,167.057022 
	C656.702087,168.109726 657.908508,170.599197 656.810364,173.836090 
	C654.728210,179.973373 652.534424,186.072723 650.419250,192.198944 
	C650.099548,193.125015 649.953125,194.110931 649.671875,195.299957 
	C654.454102,198.243927 659.965454,199.197174 664.859619,201.580246 
	C666.352051,202.306961 667.972412,202.802048 669.388550,203.647324 
	C671.999695,205.205841 673.171631,207.652267 671.799133,210.435455 
	C670.429138,213.213257 667.855286,213.739700 664.962585,212.637695 
	C659.835205,210.684387 654.652588,208.868011 649.577332,206.788635 
	C646.507324,205.530853 644.691467,205.982254 643.536194,209.361450 
	C641.925842,214.071609 639.986511,218.673889 638.070068,223.273209 
	C636.705078,226.548950 634.688782,229.562988 630.595886,227.894196 
	C626.429688,226.195557 627.361145,222.671967 628.644653,219.387741 
	C630.818604,213.825150 633.013184,208.270615 635.354858,202.316559 
	C629.670776,199.821533 624.254150,197.467911 618.861755,195.060226 
	C617.497864,194.451279 616.118958,193.799469 614.908752,192.939575 
	C612.679138,191.355301 611.434326,189.220413 612.730774,186.487991 
	C614.137390,183.523193 616.700317,183.045227 619.481506,184.193481 
	C624.400085,186.224197 629.275269,188.371582 634.093262,190.630783 
	C637.986633,192.456390 640.289734,191.550598 641.489014,187.297867 
	C642.569519,183.466476 644.044006,179.746231 645.499634,175.620636 
z"
        ></path>
        <path
          fill="var(--titles)"
          opacity="1.000000"
          stroke="none"
          d="
M570.135010,209.207825 
	C569.098206,215.689407 567.732666,221.684174 565.657043,227.480942 
	C564.498352,230.716797 565.283264,232.169144 568.763550,233.089523 
	C573.889404,234.445129 578.835999,236.488800 583.839661,238.292740 
	C587.000305,239.432220 589.275574,241.476746 587.954956,245.056671 
	C586.538025,248.897781 583.294800,248.783798 580.007751,247.637924 
	C573.914856,245.513931 567.911865,243.093933 561.223145,241.847656 
	C558.654541,247.434402 557.194092,253.200836 555.387268,258.843719 
	C554.935242,260.255280 554.531250,261.767914 553.703796,262.954132 
	C552.362305,264.877228 550.327576,265.857452 548.036316,264.814850 
	C545.473083,263.648499 544.281738,261.404907 545.036377,258.652405 
	C546.787720,252.264359 548.742554,245.932068 550.686768,239.333450 
	C546.061035,236.168137 540.625854,235.991837 535.604858,234.590744 
	C533.527710,234.011124 531.354858,233.758041 529.301331,233.114487 
	C526.453430,232.221970 524.630981,230.243011 525.254761,227.145935 
	C525.886963,224.007416 528.371338,222.798584 531.325989,223.393646 
	C537.671143,224.671524 544.006287,226.056244 550.254517,227.735886 
	C553.565063,228.625839 555.131165,227.777557 556.029297,224.500183 
	C557.389709,219.535583 558.975464,214.630829 559.688110,209.516663 
	C560.115540,206.448471 561.209229,203.937820 564.676331,203.637466 
	C568.275452,203.325668 569.637146,205.678024 570.135010,209.207825 
z"
        ></path>
      </svg>
    </div>
    <div
      class="text-center md:text-left flex flex-col items-center md:items-start"
    >
      <div class="text-5xl font-dark font-bold text-[var(--titles)]">404</div>
      <p class="text-2xl md:text-3xl font-light leading-normal">
        ¡Oops! Página no encontrada
      </p>
      <p class="mb-8">
        Lo sentimos mucho, no pudimos encontrar esta página. Parece que es un
        enlace antiguo o quizás se ha movido.
      </p>

      <a
        href="/books"
        class="bg-gray-200 text-black px-4 py-2 rounded hover:bg-gray-300 transition"
        >Regresar al Inicio</a
      >
    </div>
  </div>
</Layout404>
