---
import Layout from "../layouts/Layout.astro";
// import Footer from "../components/Footer.astro";
// import BookPreview from "../components/BookPreview.astro";
// import BookGrid from "../components/BookGrid.astro";
---

<Layout>
  <section class="max-w-7xl mx-auto px-6 py-16">
    <!--contenedor del texto en dos columnas-->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
      <!--columna izquierda: titulo-->
      <h1 class="text-5xl lato-bold leading-tight title-[var(--titles)]">
        Bienvenido a nuestra<br />
        plataforma educativa<br />
        interactiva
      </h1>

      <!--columna derecha: parrafo y los dos botones-->
      <div class="flex flex-col justify-center">
        <p class="text-gray-700 mb-6">
          Nuestra misión es ofrecer una experiencia de aprendizaje única a
          través de libros interactivos sobre geología. Explora nuestra
          colección y descubre una nueva forma de aprender.
        </p>

        <div class="flex gap-4">
          <a
            href="#"
            onclick="window.scrollBy({ top: 850, behavior: 'smooth' }); return false;"
            class="bg-[var(--botonOscuro)] border border-gray-400 text-white px-4 py-2 rounded hover:bg-gray-800 transition"
          >
            Explorar
          </a>
          <a
            href="/books"
            class="bg-gray-200 text-black px-4 py-2 rounded hover:bg-gray-300 transition"
            >Iniciar</a
          >
        </div>
      </div>
    </div>

    <!--iamgen de la uabcs-->
    <div>
      <img
        src="/public/uabcsimage.png"
        alt="Campus UABCS"
        class="w-full rounded shadow"
      />
    </div>

    <div class="contenedor w-full flex justify-center mt-24">
      <div class="text-center">
        <p class="lato-regular mb-6">Portafolio</p>
        <h1 class="text-4xl lato-bold">
          Descubre nuestros libros interactivos
        </h1>
        <p class="mt-8 lato-regular">
          Explora una variedad de libros interactivos
        </p>

        <!-- GRID DE LIBROS -->
        <div
          class="matriz grid grid-cols-1 md:grid-cols-2 sm:grid-cols-1 gap-8 mt-18"
        >
          <!-- Cuerpo de la tarjeta  -->
          <div
            class="shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition bg-[var(--cards)]"
          >
            <img
              class="w-full h-88 object-cover"
              src="/book1.jpg"
              alt="Book Cover"
            />

            <div class="p-6 text-left">
              <h1 class="text-lg lato-bold mb-2">
                Conceptual and Visual Understanding of Hydraulic Head and
                Groundwater Flow
              </h1>
              <h3 class="text-gray-500 mb-4 lato-regular">
                Andrew J.B. Cohen and John A. Cherry
              </h3>

              <!-- Etiquetas -->
              <div class="flex flex-wrap gap-2 mb-4">
                <span
                  class="px-3 py-1 text-sm text-[var(--titles)] bg-[var(--navfooternt)]"
                  >Geología</span
                >
                <span
                  class="px-3 py-1 text-sm text-[var(--titles)] bg-[var(--navfooternt)]"
                  >Hidrología</span
                >
                <span
                  class="px-3 py-1 text-sm text-[var(--titles)] bg-[var(--navfooternt)]"
                  >Agua</span
                >
              </div>

              <!-- Boton ver proyecto -->
              <a
                href="/books/book-01"
                class="text-blue-600 font-semibold hover:underline"
                >Ver proyecto →</a
              >
            </div>
          </div>

          <!-- TARJETA 2 -->
          <div
            class="shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition bg-[var(--cards)]"
          >
            <img
              class="w-full h-88 object-cover"
              src="/book2.webp"
              alt="Book Cover"
            />

            <div class="p-6 text-left">
              <h1 class="text-lg lato-bold mb-2">
                A Conceptual Overview Of Surface and Near-Surface Brines and
                Evaporate Minerals
              </h1>
              <h3 class="text-gray-500 mb-4">Warren W. Wood</h3>

              <!-- Etiquetas -->
              <div class="flex flex-wrap gap-2 mb-4">
                <span
                  class="px-3 py-1 text-sm text-[var(--titles)] bg-[var(--navfooternt)]"
                  >Salinidad</span
                >
                <span
                  class="px-3 py-1 text-sm text-[var(--titles)] bg-[var(--navfooternt)]"
                  >Hidrología</span
                >
                <span
                  class="px-3 py-1 text-sm text-[var(--titles)] bg-[var(--navfooternt)]"
                  >Agua</span
                >
              </div>

              <!-- Boton ver proyecto -->
              <a
                href="/books/book-02"
                class="text-blue-600 font-semibold hover:underline"
                >Ver proyecto →</a
              >
            </div>
          </div>
        </div>
        <!-- BOTÓN VER TODOS -->
        <div class="mt-24 mb-24">
          <a
            href="/books"
            class="px-6 py-2 border border-gray-400 rounded hover:bg-[var(--navfooternt)] bg-[var(--cards)] text-[var(--titles)] transition-colors duration-300 ease-in-out"
          >
            Ver todo
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
