---
import BookLayout from "../../../layouts/BookLayout.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BookLayout>
    <h1 class="text-5xl font-bold mb-4">Platform Introduction</h1>
    <p class="text-gray-700">
        This interactive module focuses on the fundamental concept of the capture zone for a pumping well in a confined aquifer. The capture zone is the area from which groundwater flows toward a well, a crucial concept for water management and assessing contamination risks.
        <br>
        <br>
        Forget static equations. In this exercise, you'll be able to modify the aquifer's key parameters, such as hydraulic conductivity, pumping rate, and the regional groundwater flow gradient.
    </p>
</BookLayout>
