---
import "../styles/global.css";
---

<!-- Caja envolvedora -->
<div class="caja">
  <div class="contenedor w-full flex justify-center p-24">
    <div class="text-center">
      <p class="lato-regular mb-6">Portafolio</p>
      <h1 class="text-4xl lato-bold">Descubre nuestros libros</h1>
      <p class="mt-8 lato-regular">
        Explora una variedad de libros interactivos
      </p>
    </div>
    <div>
      <!-- <img src="/logouabcs.png" alt="logouabcs" class="w-88" /> -->
    </div>
  </div>
</div>

<!-- Estilos css para cosas concretas -->
<style>
  .caja {
    /* height: auto; */
  }
</style>
