---
// src/components/exercises/Ejercicio_1.astro
const { pregunta = "" } = Astro.props;
---

<div class="p-4 my-6 bg-gray-100 border rounded-md shadow text-[var(--titles)]">
  <h3 class="font-semibold text-lg text-[var(--titles)]">Ejercicio</h3>
  <p class="mt-2">{pregunta}</p>
</div>
