---
import "../styles/global.css";
import tailwindcss from "@tailwindcss/vite";
---

<div id="container">
  <h1 class="lato-regular text-4xl text-black-50">hola soy un navbar</h1>
</div>

<style>
  #background {
    position: fixed;
  }
</style>
