---
import "../styles/global.css";
---

<div id="container" class="w-full">

  <div class="w-full">
    <h1 class="lato-bold text-4xl text-black-50">
      Hola, soy un h1 modificado con tailwind
    </h1>
  </div>
</div>

<style>
  #background {
    position: fixed;
  }
</style>
