---
import "../styles/global.css";
---

<div id="container">
  <h1 class="lato-regular text-4xl text-black-50">
    Hola, soy un h1 modificado con tailwind
  </h1>
</div>

<style>
  #background {
    position: fixed;
  }
</style>
