---
// Importa las funciones y tipos necesarios
import { getCollection, type CollectionEntry } from "astro:content";
import BookLayout from "../../layouts/BookLayout.astro";

export async function getStaticPaths() {
  const allBooks = await getCollection("books");
  const allExercises = await getCollection("exercises");

  return allBooks.map((book) => {
    const filteredExercises = allExercises.filter(
      (exercise) => exercise.data.bookSlug === book.slug,
    );

    return {
      params: {
        slug: book.slug,
      },
      props: {
        book,
        exercises: filteredExercises,
      },
    };
  });
}

// Define el tipo de los props
type Props = {
  book: CollectionEntry<"books">;
  exercises: CollectionEntry<"exercises">[];
};

// Desestructura los props
const { book, exercises } = Astro.props as Props;
const { Content } = await book.render();
---

<BookLayout>
  <div slot="sidebar-li">
    {
      exercises.map((exercise) => (
        <li>
          <a href={`/books/${exercise.slug}`}>{exercise.data.title}</a>
        </li>
      ))
    }
  </div>

  <div slot="introduction">
    <h1>{book.data.title}</h1>
    <Content />
    <br />
    <h2>Ejercicios</h2>
    <p>Selecciona un ejercicio de la lista lateral para ver su contenido.</p>
  </div>
</BookLayout>
