<div>
  <h3 class="text-[var(--pepe)] text-3xl lato-bold">Ejercicio interactivo</h3>
  <hr class="border-[var(--pepe)]" />
  <div
    class="p-4 my-6 border border-[var(--rayas)] rounded-md shadow bg-[var(--titlesnt)]"
  >
    <h1 class="font-semibold text-lg text-[var(--titles)]">
      Gradiente hidráulico
    </h1>

    <label for="humedad" class="text-[var(--titles)] mt-2">
      <span class="lato-bold">Cómo funciona: </span> Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Doloremque esse cumque vero tempora dolores ratione, quo
      possimus itaque commodi ducimus consequuntur perferendis, accusantium pariatur
      nulla adipisci a assumenda error nesciunt?
    </label>

    <!-- aqui va el canvas -->
    <div class="canvas mt-10 mb-14">
      <canvas
        id="myCanvas"
        width="800"
        height="400"
        style="border:1px solid var(--titles); margin: 0 auto;"
      >
      </canvas>
    </div>

    <div class="controls">
      <div class="section-card">
        <h3>Sección A</h3>

        <!-- range de K -->
        <label for="kA">K (Conductividad)</label>
        <input type="range" id="kA" min="1" max="100" value="60" />
        <span id="kAVal">60</span>

        <!-- range del area -->
        <label for="aA">A (Área)</label>
        <input type="range" id="aA" min="1" max="100" value="30" />
        <span id="aAVal">30</span>
      </div>

      <div class="section-card">
        <h3>Sección B</h3>
        <label for="kB">K (Conductividad)</label>
        <input type="range" id="kB" min="1" max="100" value="30" />
        <span id="kBVal">80</span>

        <!-- range del area tubo 2 -->
        <label for="aB">A (Área)</label>
        <input type="range" id="aB" min="1" max="100" value="30" />
        <span id="aBVal">30</span>
      </div>

      <div class="section-card">
        <h3>Sección C</h3>
        <label for="kC">K (Conductividad)</label>
        <input type="range" id="kC" min="1" max="100" value="30" />
        <span id="kCVal">30</span>

        <!-- range del area tubo 3 -->
        <label for="aC">A (Área)</label>
        <input type="range" id="aC" min="1" max="100" value="30" />
        <span id="aCVal">30</span>
      </div>

      <div class="section-card">
        <h3>Sección Otra</h3>
        <label for="ejemplo">ejemploooo</label>
        <input type="range" id="ejemplo" min="1" max="100" value="30" />
        <span id="ejemploVal">aqui van los numeros</span>
      </div>
    </div>

    <div class="mt-6">
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md shadow-lg transition-colors duration-300 ease-in-out"
        >Iniciar</button
      >

      <button
        class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-md shadow-lg transition-colors duration-300 ease-in-out"
      >
        Reiniciar
      </button>
    </div>
  </div>
</div>

<script>
  //esto es para los numeritos del span, se actualizan cuando se mueve el range
  document.querySelectorAll("input[type=range]").forEach((slider) => {
    const span = document.getElementById(slider.id + "Val");
    if (span) {
      slider.addEventListener("input", () => {
        span.textContent = slider.value;
      });
    }
  });

  // funcionn para dibujar los piezometros
  function drawPiezometro(ctx, x, y, width, height, hAgua) {

    //agua dentro del tubo
    ctx.fillStyle = "#4ad6ff";
    ctx.fillRect(x, y + height - hAgua, width, hAgua);

    //tubo del piezometro
    ctx.strokeStyle = borderColor;
    ctx.lineWidth = 2;
    ctx.strokeRect(x, y, width, height);
  }

  function drawTube(ctx, x, y, w, h) {
    ctx.fillStyle = "#bef8fe";
    ctx.strokeStyle = "#555";
    ctx.lineWidth = 2;

    ctx.fillRect(x, y, w, h);
    ctx.strokeRect(x, y, w, h);
  }


  const canvas = document.getElementById("myCanvas");
  const ctx = canvas.getContext("2d");

  //Obtener el valor real de la variable CSS
  const styles = getComputedStyle(document.documentElement);
  const borderColor = styles.getPropertyValue("--rayaTubo").trim();

  //Tubo 1
  const areaTubo1 = document.getElementById("aA");
  console.log("Valor del tubo:", areaTubo1.value);

  //Tubo 2
  const areaTubo2 = document.getElementById("aB");
  console.log("Valor del tubo:", areaTubo2.value);

  //Tubo 3
  const areaTubo3 = document.getElementById("aC");
  console.log("Valor del tubo:", areaTubo3.value);

  function draw() {
    // limpia el canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    //tubo 1
    drawTube(ctx, 100, 320, 200, parseInt(areaTubo1.value));
    drawPiezometro(ctx, 120, 135, 20, 200, 80);  //piezometro 1, canvas, x, y, w, h, hAgua

    //tubo 2
    drawTube(ctx, 300, 320, 200, parseInt(areaTubo2.value));
    drawPiezometro(ctx, 290, 135, 20, 200, 30);  //piezometro 2

    //tubo 3
    drawTube(ctx, 500, 320, 200, parseInt(areaTubo3.value));

    drawPiezometro(ctx, 490, 135, 20, 200, 180);  //piezometro 3
    drawPiezometro(ctx, 660, 135, 20, 200, 120);  //piezometro 4
  }

  draw();

  // Redibujar en tiempo real cuando se mueva el range
  areaTubo1.addEventListener("input", draw);
  areaTubo2.addEventListener("input", draw);
  areaTubo3.addEventListener("input", draw);
</script>

<style>
  .controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    margin-top: 16px;
  }

  .section-card {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.178);
  }

  .section-card h3 {
    margin: 0 0 12px 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--titles);
  }

  .section-card label {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    color: var(--textoCardCanvas);
  }

  .section-card input[type="range"] {
    width: 100%;
    margin-top: 4px;
  }

  .section-card span {
    font-size: 14px;
    font-weight: 600;
    color: var(--textoCardCanvas);
    margin-left: 8px;
  }

  .section-card:hover {
    transform: scale(0.99);
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.55); */
    border-color: rgba(0, 191, 255, 0.4);
  }
</style>
