<div>
  <h3 class="text-[var(--pepe)] text-3xl lato-bold">Ejercicio interactivo</h3>
  <hr class="border-[var(--pepe)]" />
  <div
    class="p-4 my-6 border border-[var(--rayas)] rounded-md shadow bg-[var(--titlesnt)]">
    <h1 class="font-semibold text-lg text-[var(--titles)]">Gradiente hidr치ulico</h1>

    <label for="humedad" class="text-[var(--titles)] mt-2">
      <span class="lato-bold">C칩mo funciona: </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque esse cumque vero tempora dolores ratione, quo possimus itaque commodi ducimus consequuntur perferendis, accusantium pariatur nulla adipisci a assumenda error nesciunt?
    </label>
  
    <!-- aqui va el canvas -->
    <div class="canvas">
      
    </div>

    <div class="grid">
      <label for="ejemplo" class="text-[var(--titles)] mt-12"
        >ejemplo: <span id="ejemplo">50</span>
      </label>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        id="control"
        class="mb-2"
      />

      <label for="salinidad" class="text-[var(--titles)] mb-8"
        >Aumenta el nivel del agua para experimentar distintos par치metros de
        evaporaci칩n</label
      >

      <div class="mt-6">
        <button
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md shadow-lg transition-colors duration-300 ease-in-out"
          >Iniciar</button
        >

        <button
          class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-md shadow-lg transition-colors duration-300 ease-in-out"
        >
          Reiniciar
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  
</style>

<script>
  

    
</script>
