---
import { getCollection } from "astro:content";
import "../styles/global.css";

const { exercises = [], currentBookSlug } = Astro.props;

// const books = await getCollection("books");
// const exercises = await getCollection("exercises");
// //console.log(exercises);

// const filteredExercises = exercises.filter()

// console.log(filteredExercises)
---
<html>

  <body class="flex">
    <!--exercise count-->
    <aside class="w-64 bg-gray-100 p-4 space-y-4 sticky top-0 h-screen">
      <h2 class="font-bold mb-4">Contenido</h2>
       <ul>
          {exercises.map((ex: { slug: string; data: { title: unknown; }; }) => (
            <li>
              <a href={`/books/${currentBookSlug}/${ex.slug.split("/").pop()}`}>
                {ex.data.title}
              </a>
            </li>
          ))}
        </ul>
    </aside>

    <!--index md-->
    <main class="flex-1 overflow-y-auto">
      <div class="max-w-4xl mx-auto p-8">
        <slot name="main"/>
        
        <slot name="introduction" />
      </div>
    </main>
  </body>
</html>
